body {
    background-color: rgb(4, 18, 53);
    font-family: fantasy;
}

.title {
    text-align: center;
    text-shadow: 3;
    color: whitesmoke;
    margin: 40px;
}

.text {
    text-align: center;
    color: rgb(246, 208, 17);
    margin: 50px
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: auto;
    border-radius: 10%;

}

#clock {
    text-align: center;
    font-size: xx-large;
    color: whitesmoke;
    margin: 50px;
}